body{
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
font-family:Arial;
text-align:center;
}

.container{
display:flex;
justify-content:center;
gap:30px;
margin-top:20px;
}

.card{
background:rgba(255,255,255,0.05);
padding:15px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

video, canvas{
width:400px;
border-radius:12px;
}

.dashboard{
margin-top:20px;
}

.progress{
width:300px;
height:15px;
background:#334155;
margin:auto;
border-radius:10px;
overflow:hidden;
}

.progress-bar{
height:100%;
width:0%;
background:linear-gradient(90deg,red,yellow,green);
transition:0.3s;
}

.glow{
box-shadow:0 0 20px #22c55e;
}
